[Unit]
Description=PVS6 solar dashboard UI
After=pvs-api.service

[Service]
User=pvs-monitoring
ExecStart=/usr/bin/pvs-ui -api https://localhost:8081 -assets /etc/pvs-monitor/assets
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
