#!/usr/bin/make -f

DESTDIR ?= debian/pvs-monitoring

%:
	dh $@

override_dh_auto_build:
	go build -o bin/pvs-monitor ./cmd/pvs-monitor
	go build -o bin/pvs-api ./cmd/pvs-api
	go build -o bin/pvs-ui ./cmd/pvs-ui

override_dh_auto_install:
	# Install binaries
	install -D -m 755 bin/pvs-monitor $(DESTDIR)/usr/local/bin/pvs-monitor
	install -D -m 755 bin/pvs-api $(DESTDIR)/usr/local/bin/pvs-api
	install -D -m 755 bin/pvs-ui $(DESTDIR)/usr/local/bin/pvs-ui
	
	# Install systemd services
	install -D -m 644 debian/pvs-monitor.service $(DESTDIR)/etc/systemd/system/pvs-monitor.service
	install -D -m 644 debian/pvs-api.service $(DESTDIR)/etc/systemd/system/pvs-api.service
	install -D -m 644 debian/pvs-ui.service $(DESTDIR)/etc/systemd/system/pvs-ui.service
	
	# Install example config
	install -D -m 644 config.example.yaml $(DESTDIR)/etc/pvs-monitor/config.yaml.example

override_dh_auto_test:
	go test ./...
