<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dangogh.pvs-monitor</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/dank/go/src/github.com/dangogh/pvs-monitoring/bin/pvs-monitor</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>30</integer>

    <key>StandardOutPath</key>
    <string>/Users/dank/.local/share/pvs-monitor/pvs-monitor.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/dank/.local/share/pvs-monitor/pvs-monitor.log</string>
</dict>
</plist>
